@using Newtonsoft.Json;
@model DocumentViewModel

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />

<link rel="stylesheet" href="~/css/custom_css/plantImagesSlider/plantSlider.css" />

<div class="table-wrapper">
    <table class="table table-striped table-hover">
        <thead>

            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model.Documents)
            {
                <tr>

                    <th scope="row">@item.Id</th>

                    <td>@item.Title</td>

                </tr>
            }
        </tbody>

    </table>
</div>

<div class="row mt-3">
    <div class="col-md-6 offset-md-3">
        <h2>Yüklediğiniz Fotoğraf</h2>
        <img class="img-fluid rounded" id="preview" src="" alt="Önizleme" style="display:none; width: 50%;" />

        @*   @if (Model.FileContent != null)
        {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.FileContent)" alt="Uploaded Image" style="max-width: 100%; height: auto;" />
        } *@

    </div>
</div>


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Fotoğraf Yükleyiniz</h2>

        <form asp-controller="Test" asp-action="UploadImage" method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Fotoğraf yükleyin:</label>
                <div class="col-md-8">
                    <input class="form-control" id="fileUpload" type="file" name="file" />
                </div>
            </div>


            <div class="row mb-3">

                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Yükle</button>

                    <a class="btn btn-warning ms-4" href="https://demo.roboflow.com/ev-bitkisi-tanima/1?publishable_key=rf_eBE2SLq9dEZYXkDRdsjU75PtjQt1" target="_blank"><i class="bi bi-camera me-3 fs-5"></i>Kamerayı Aç</a>

                </div>
            </div>

        </form>

    </div>
</div>

@if (Model.RoboflowResponse != null)
{
    <div class="text-center">
        <h1 class="display-6">RoboFlow Modelimizin Cevabı</h1>

        <ul>
            <li>Bitki No :  @Model.RoboflowResponse.ClassId</li>
            <li>Eşleşme oranı : %@Model.RoboflowResponse.Confidence</li>
            <li>Bitki Adı :  @Model.RoboflowResponse.PlantName</li>
        </ul>

    </div>
}



@if (TempData["RoboflowFailed"] != null)
{
    <div class="text-center">
        <h1 class="display-6">:(</h1>
        <h6>@TempData["RoboflowFailed"]</h6>
    </div>
}

@if (TempData["PlantNetTempData"] != null)
{
    <div class="text-center">
        <h1 class="display-6">PlantNet Sonucu</h1>
        <h6>@TempData["PlantNetTempData"]</h6>
    </div>
}

@if (TempData["GPTResponse"] != null)
{
    <div class="text-center">
        <h1 class="display-6">Bitki Hakkında Genel Bilgi</h1>
        <h6>@TempData["GPTResponse"]</h6>
    </div>
}

<div class="text-center">
    <h1 class="display-6">Bitkinin Yetiştiği Bölgeler</h1>
    <div id="map"></div>
</div>

@if (TempData["PlantImages"] != null)
{
    var plantImagesJson = TempData["PlantImages"] as string;
    var plantImages = JsonConvert.DeserializeObject<PlantImages>(plantImagesJson);

    <div class="container">

        <div class="row">
            <div class="text-center">
                <h1 class="display-6">Bitkinin Diğer Fotoları</h1>
            </div>
            @foreach (var item in plantImages.Flower)
            {

                <div class="col-md-3">

                    <div class="card mb-4" style="width: 18rem;">
                        <img src="@item.ImageUrl" class="card-img-top" width="100%" height="200px">
                    </div>

                </div>

            }

        </div>

        <div class="row">
            <div class="text-center">
                <h1 class="display-6">Bitki Yaprakları</h1>
            </div>
            @foreach (var item in plantImages.Leaf)
            {

                <div class="col-md-3">

                    <div class="card mb-4" style="width: 18rem;">
                        <img src="@item.ImageUrl" class="card-img-top" width="100%" height="200px">
                    </div>

                </div>

            }

        </div>

        <div class="row">
            <div class="text-center">
                <h1 class="display-6">Bitkinin Meyveleri</h1>
            </div>
            @foreach (var item in plantImages.Fruit)
            {

                <div class="col-md-3">

                    <div class="card mb-4" style="width: 18rem;">
                        <img src="@item.ImageUrl" class="card-img-top" width="100%" height="200px">
                    </div>

                </div>

            }

        </div>

        <div class="row">
            <div class="text-center">
                <h1 class="display-6">Bitkinin Kabukları</h1>
            </div>
            @foreach (var item in plantImages.Bark)
            {

                <div class="col-md-3">

                    <div class="card mb-4" style="width: 18rem;">
                        <img src="@item.ImageUrl" class="card-img-top" width="100%" height="200px">
                    </div>

                </div>

            }

        </div>
        <div class="row">
            <div class="text-center">
                <h1 class="display-6">Bitkinin Habitleri</h1>
            </div>
            @foreach (var item in plantImages.Habit)
            {

                <div class="col-md-3">

                    <div class="card mb-4" style="width: 18rem;">
                        <img src="@item.ImageUrl" class="card-img-top" width="100%" height="200px">
                    </div>

                </div>

            }

        </div>
    </div>


}


@* <div class="container mt-4 w-50">
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Carousel içindeki göstergeler -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1"></button>
        </div>

        <!-- Carousel içerikleri -->
        <div class="carousel-inner rounded">
            <div class="carousel-item active">
                <img src="@item.ImageUrl class="d-block w-100">
            </div>
        </div>

        <!-- Carousel kontrol butonları -->
        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Önceki</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Sonraki</span>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Orijinal Fotoğraf</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid w-100 h-75" alt="Orijinal Boyutta Fotoğraf">
                <div class="zoom-controls">
                    <button class="zoom-button zoom-in"><i class="bi bi-zoom-in"></i></button>
                    <button class="zoom-button zoom-out"><i class="bi bi-zoom-out"></i></button>
                </div>
            </div>
        </div>
    </div>
</div> *@

<style>
    .card-img-top {
        object-fit: cover;
    }
</style>


<script>
    document.querySelectorAll('.carousel-item img').forEach(item => {
        item.addEventListener('click', event => {
            const src = event.target.src;
            const modalImage = document.getElementById('modalImage');
            const imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
            modalImage.src = src;
            modalImage.style.transform = 'scale(1)';
            modalImage.style.transition = 'transform 0.25s ease';
            imageModal.show();
        });
    });

    document.querySelector('.zoom-in').addEventListener('click', function () {
        zoom(true);
    });

    document.querySelector('.zoom-out').addEventListener('click', function () {
        zoom(false);
    });

    function zoom(increase) {
        const img = document.getElementById('modalImage');
        const currentScale = img.style.transform.replace(/[^0-9.]/g, '') || 1;
        const newScale = increase ? parseFloat(currentScale) + 0.1 : parseFloat(currentScale) - 0.1;
        img.style.transform = `scale(${newScale})`;
    }
</script>

<script>
    document.getElementById('fileUpload').addEventListener('change', function (event) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var preview = document.getElementById('preview');
            preview.src = e.target.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script>
@section Scripts {

    <script src="~/js/site.js" asp-append-version="true"></script>

}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<script>
    // MAP İŞLEMLERİ
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    var locationData = JSON.parse('@Html.Raw(TempData["LocationData"])');

    // JavaScript objesini kullanarak haritaya marker ekleyin
    locationData.forEach(function (loc) {
        var marker = L.marker([loc.lat, loc.lon]).addTo(map)
            .bindPopup(loc.name);
    });

                            // var parisAndIstanbulCoordinates = {
                            //     "Paris": { lat: 48.8588897, lng: 2.3200410217200766 },
                            //     "İstanbul": { lat: 41.006381, lng: 28.9758715 },
                            // };


                            // for (var region in parisAndIstanbulCoordinates) {
                            //     var coords = parisAndIstanbulCoordinates[region];
                            //     L.marker([coords.lat, coords.lng]).addTo(map)
                            //         .bindPopup(region);
                            // };
</script>