@using Newtonsoft.Json;

@model RoboflowResponse;

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
<link href="~/css/custom_css/plant/imageUpload.css" rel="stylesheet" />

<link href="~/css/custom_css/plant/index.css" rel="stylesheet" />


@if (@TempData["EmailNotConfirmedMsg"] != null)
{
    <div class="container  my-3">
        <div class="row mb-3 d-flex justify-content-center">
            <div class="ui yellow message col-md-4"><i class="close icon"></i><i class="bi bi-exclamation-triangle-fill me-3"></i>@TempData["EmailNotConfirmedMsg"]</div>
        </div>
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("EditUser", "Member")';
        }, 3000);
    </script>
}

<div class="row mt-5">
    <div class="col-md-5">
        <h2 class="mb-4">Bitkinizi yükleyin..</h2>
        <form class="uploader" id="file-upload-form" asp-controller="Plant" asp-action="UploadImage" method="post" enctype="multipart/form-data">
            <input id="file-upload" type="file" name="file" required accept="image/*" />

            <label for="file-upload" id="file-drag">
                <img id="file-image" src="#" alt="Preview" class="hidden">
                <div id="start">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <div>Buraya tıklayabilir ya da fotoğrafınızı sürükleyebilirsiniz.</div>
                    <div id="notimage" class="hidden text-danger">Lütfen bir resim yükleyin.</div>
                    @* <span id="file-upload-btn" class="btn btn-primary">Select a file</span> *@
                </div>
                <div id="response" class="hidden">
                    <div id="messages"></div>
                    <progress class="progress" id="file-progress" value="0">
                        <span>0</span>%
                    </progress>
                </div>
            </label>


            <button type="submit" class="btn">Sorgula</button>


        </form>

        @if (Model != null)
        {
            <div class="ms-5 mt-3 text-center">
                <p class="fw-bold fs-3">Kendi Modelimizin Cevabı</p>

                <div class="border border-success border-1 rounded">
                    @* <p><strong>Bitki No:</strong> @Model.RoboflowResponse.ClassId</p> *@
                    <p><strong>Bitki Adı:</strong> @Model.PlantName</p>
                    <p><strong>Eşleşme oranı:</strong> %@Model.Confidence</p>
                    <p><strong>PlantNet Cevabı:</strong> @TempData["PlantNetTempDataForJS"] </p>
                </div>

                @* Script V1 *@
                @*  <script>
            document.addEventListener('DOMContentLoaded', function () {
            // Model.RoboflowResponse.PlantName değerini JavaScript değişkenine atayın
            var plantName = '@TempData["PlantNetTempDataForJS"]'.trim();
            // plantName '-' içeriyorsa, '-' görene kadar olan kısmı alın ve sonunda boşluk varsa onu atın
            if (plantName.includes('-')) {
            plantName = plantName.split('-')[0].trim();
            }
            // JavaScript'te fetchContent() ve fetchContentPrice() fonksiyonlarını çağırın
            console.log('fetchContent tetiklendi:', plantName);
            //fetchContent(plantName);
            //fetchContentPrice(plantName);
            fetchContentPriceBahceMarket(plantName);
            });
            </script> *@


                @* Script V2 *@
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        // Model.RoboflowResponse.PlantName değerini JavaScript değişkenine atayın
                        var plantName = '@TempData["PlantNetTempDataForJS"]'.trim();
                        // Boşluk veya '-' görürse sadece ilk kelimeyi al
                        plantName = plantName.split(/[\s-]/)[0].trim();

                        // JavaScript'te fetchContent() ve fetchContentPrice() fonksiyonlarını çağırın
                        console.log('fetchContent tetiklendi:', plantName);
                        //test
                        fetchContentPrice(plantName);
                        //fetchContentPriceBahceMarket(plantName);
                    });
                </script>


            </div>
        }
        else
        {
            @* No Roboflow response handling *@
            @if (TempData["RoboflowFailed"] != null && TempData["PlantNetTempDataForJS"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["RoboflowFailed"]
                </div>
                <p><strong>PlantNet Cevabı:</strong> @TempData["PlantNetTempDataForJS"] </p>
            }
        }


        @if (TempData["PlantNetTempData"] != null)
        {
            <div class="ms-5 mt-3 text-center">
                <p class="fw-bold fs-3">Sonuç - PlantNet</p>

                <div class="border border-success border-1 rounded">
                    @if (TempData["PlantNetTempData"].ToString() != "Bu fotoğraf bir bitki değil!")
                    {
                        <p><strong>Bitki Adı:</strong> @TempData["PlantNetTempData"]</p>


                        @* Script V1 *@

                        @* <script>
                document.addEventListener('DOMContentLoaded', function () {
                // Model.RoboflowResponse.PlantName değerini JavaScript değişkenine atayın
                var plantName = '@TempData["PlantNetTempData"]'.trim();
                // plantName '-' içeriyorsa, '-' görene kadar olan kısmı alın ve sonunda boşluk varsa onu atın
                if (plantName.includes('-')) {
                plantName = plantName.split('-')[0].trim();
                }
                // JavaScript'te fetchContent() ve fetchContentPrice() fonksiyonlarını çağırın
                console.log('fetchContent tetiklendi:', plantName);
                //fetchContent(plantName);
                //fetchContentPrice(plantName);
                fetchContentPriceBahceMarket(plantName);
                });
                </script> *@

                        @* Script V2 *@

                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                // Model.RoboflowResponse.PlantName değerini JavaScript değişkenine atayın
                                var plantName = '@TempData["PlantNetTempData"]'.trim();
                                // Boşluk veya '-' görürse sadece ilk kelimeyi al
                                plantName = plantName.split(/[\s-]/)[0].trim();

                                // JavaScript'te fetchContent() ve fetchContentPrice() fonksiyonlarını çağırın
                                console.log('fetchContent tetiklendi:', plantName);

                                fetchContentPrice(plantName);
                                //fetchContentPriceBahceMarket(plantName);
                            });
                        </script>


                    }
                    else
                    {
                        <p><strong class="text-danger">HATA: </strong> @TempData["PlantNetTempData"]</p>
                    }
                </div>


            </div>
        }
    </div>

    <div class="col-md-7">

        <div class="text-center">
            <p class="fw-bold fs-3 text-success text-center"><i class="bi bi-pin-map-fill me-3"></i>Bitkinin Yetiştiği Bölgeler</p>
            <div id="map"></div>
        </div>

    </div>
</div>








@* @if (TempData["RoboflowFailed"] != null)
{
    <div class="text-center">
        <h1 class="display-6">:(</h1>
        <h6>@TempData["RoboflowFailed"]</h6>
    </div>
} *@



@if (TempData["GPTResponse"] != null)
{

    @if (TempData["GPTResponse"].ToString() != "Servis hatası!")
    {
        <h1 class="display-6 text-center">Bitki Hakkında Genel Bilgi</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold fs-3 text-success"><i class="bi bi-feather me-3"></i>Bitkinin genel özellikleri</p>
                <div class="ms-5 border border-success border-2 rounded text-dark p-2" style="height: 300px; overflow-y: scroll;">
                    @TempData["GPTResponse"]
                </div>
            </div>

            @if (TempData["GPTResponseMaintenanceWatering"].ToString() != "Servis hatası!")
            {
                <div class="col-md-6">
                    <p class="fw-bold fs-3 text-success"><i class="bi bi-flower2 me-3"></i>Bakımı ve Sulaması</p>
                    <div class=" me-5 border border-success border-2 rounded p-2" id="gpt-result" style="height: 300px; overflow-y: scroll;">@TempData["GPTResponseMaintenanceWatering"]</div>
                </div>
            }
            else
            {
                <div class="col-md-6">
                    <p class="fw-bold fs-3 text-success"><i class="bi bi-flower2 me-3"></i>Bakımı ve Sulaması</p>
                    <div class=" me-5 border border-success border-2 rounded p-2" id="gpt-result">Üzgünüz, şu an da size cevap veremiyoruz.</div>
                </div>
            }
        </div>
    }
    else
    {
        <h1 class="display-6 text-center">Bitki Hakkında Genel Bilgi</h1>

        <div class="row">
            <div class="col-md-6">
                <p class="fw-bold fs-3 text-success"><i class="bi bi-feather me-3"></i>Bitkinin genel özellikleri</p>
                <div class="ms-5 border border-success border-2 rounded text-dark" style="height: 600px; overflow-y: scroll;">
                    Üzgünüz, şu an da size cevap veremiyoruz.
                </div>
            </div>
            <div class="col-md-6">
                <p class="fw-bold fs-3 text-success"><i class="bi bi-flower2 me-3"></i>Bakımı ve Sulaması</p>
                <div class=" me-5 border border-success border-2 rounded" id="gpt-result">Üzgünüz, şu an da size cevap veremiyoruz.</div>
            </div>
        </div>


    }






}

@if (TempData["PlantImages"] != null)
{
    var plantImagesJson = TempData["PlantImages"] as string;
    var plantImages = JsonConvert.DeserializeObject<PlantImages>(plantImagesJson);

    <style>
        .carousel-item img {
            max-height: 400px;
            object-fit: cover;
        }
    </style>




    <div class="container mt-4">
        @if ((plantImages.Flower != null && plantImages.Flower.Count > 0) ||
       (plantImages.Leaf != null && plantImages.Leaf.Count > 0) ||
       (plantImages.Fruit != null && plantImages.Fruit.Count > 0) ||
       (plantImages.Bark != null && plantImages.Bark.Count > 0) ||
       (plantImages.Habit != null && plantImages.Habit.Count > 0))
        {
            <div class="row text-center mt-5">
                <p class="fw-bold fs-1 text-success"><i class="bi bi-image me-3"></i>Fotoğraf Galerisi</p>
            </div>
        }

        <div class="row d-flex justify-content-center">
            @if (plantImages.Flower != null && plantImages.Flower.Count > 0)
            {
                <div class="col-md-6 mb-4 text-center">
                    <p class="fw-bold fs-3 text-success">Çiçekleri</p>
                    <div id="flowerCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < plantImages.Flower.Count; i++)
                            {
                                var item = plantImages.Flower[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@item.ImageUrl" class="d-block w-100" loading="lazy">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#flowerCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#flowerCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (plantImages.Leaf != null && plantImages.Leaf.Count > 0)
            {
                <div class="col-md-6 mb-4 text-center">
                    <p class="fw-bold fs-3 text-success">Yaprakları</p>
                    <div id="leafCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < plantImages.Leaf.Count; i++)
                            {
                                var item = plantImages.Leaf[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@item.ImageUrl" class="d-block w-100" loading="lazy">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#leafCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#leafCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (plantImages.Fruit != null && plantImages.Fruit.Count > 0)
            {
                <div class="col-md-6 mb-4 text-center">
                    <p class="fw-bold fs-3 text-success">Meyveleri</p>
                    <div id="fruitCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < plantImages.Fruit.Count; i++)
                            {
                                var item = plantImages.Fruit[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@item.ImageUrl" class="d-block w-100" loading="lazy">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#fruitCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#fruitCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (plantImages.Bark != null && plantImages.Bark.Count > 0)
            {
                <div class="col-md-6 mb-4 text-center">
                    <p class="fw-bold fs-3 text-success">Kabukları</p>
                    <div id="barkCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < plantImages.Bark.Count; i++)
                            {
                                var item = plantImages.Bark[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@item.ImageUrl" class="d-block w-100" loading="lazy">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#barkCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#barkCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }

            @if (plantImages.Habit != null && plantImages.Habit.Count > 0)
            {
                <div class="col-md-6 mb-4 text-center">
                    <p class="fw-bold fs-3 text-success">Habitleri</p>
                    <div id="habitCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (var i = 0; i < plantImages.Habit.Count; i++)
                            {
                                var item = plantImages.Habit[i];
                                <div class="carousel-item @(i == 0 ? "active" : "")">
                                    <img src="@item.ImageUrl" class="d-block w-100" loading="lazy">
                                </div>
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#habitCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#habitCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
}




@if (Model != null || (TempData["PlantNetTempData"] != null && TempData["PlantNetTempData"].ToString() != "Bu fotoğraf bir bitki değil!"))
{
    <div class="row m-5">
        <p class="fw-bold fs-3 text-success text-center">
            <i class="bi bi-cart-check me-3"></i>Bu bitkiyi satın almak ister misiniz?
        </p>
        <div class="col-md-12">
            <div class="row d-flex justify-content-center">
                <div class="border rounded w-50 mb-4 d-flex justify-content-center pt-3" id="price-range">
                </div>
            </div>
            <div class="row d-flex justify-content-center ms-4 me-4" id="fidan-burada-price-result" style="height: 518px; overflow-y: scroll;">
            </div>
        </div>
    </div>



}







<style>
    .card-img-top {
        object-fit: cover;
    }
</style>


<script src="~/js/custom_js/plant/index/fidanburada/app.js"></script>

<script>
    document.querySelectorAll('.carousel-item img').forEach(item => {
        item.addEventListener('click', event => {
            const src = event.target.src;
            const modalImage = document.getElementById('modalImage');
            const imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
            modalImage.src = src;
            modalImage.style.transform = 'scale(1)';
            modalImage.style.transition = 'transform 0.25s ease';
            imageModal.show();
        });
    });

    document.querySelector('.zoom-in').addEventListener('click', function () {
        zoom(true);
    });

    document.querySelector('.zoom-out').addEventListener('click', function () {
        zoom(false);
    });

    function zoom(increase) {
        const img = document.getElementById('modalImage');
        const currentScale = img.style.transform.replace(/[^0-9.]/g, '') || 1;
        const newScale = increase ? parseFloat(currentScale) + 0.1 : parseFloat(currentScale) - 0.1;
        img.style.transform = `scale(${newScale})`;
    }
</script>


@* <script>
    document.getElementById('fileUpload').addEventListener('change', function (event) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var preview = document.getElementById('preview');
            preview.src = e.target.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script> *@

<script src="~/js/custom_js/plant/imageUpload.js"></script>
@* <script src="~/js/custom_js/plant/index/fidanburada/app_price.js"></script>
 *@
@section Scripts {

    <script src="~/js/site.js" asp-append-version="true"></script>

}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

@* <script>
    // MAP İŞLEMLERİ
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    var locationData = JSON.parse('@Html.Raw(TempData["LocationData"])');

    // JavaScript objesini kullanarak haritaya marker ekleyin
    locationData.forEach(function (loc) {
        var marker = L.marker([loc.lat, loc.lon]).addTo(map)
            .bindPopup(loc.name);
    });

</script> *@
<script>
    // MAP İŞLEMLERİ
    var map = L.map('map').setView([0, 0], 2);

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // JSON verisini al
    var locationData = JSON.parse('@Html.Raw(TempData["LocationData"] ?? "[]")');

    // JavaScript objesini kullanarak haritaya marker ekleyin
    if (Array.isArray(locationData)) {
        locationData.forEach(function (loc) {
            // Koordinatları sayısal türüne dönüştür
            var lat = parseFloat(loc.Lat);
            var lon = parseFloat(loc.Lon);

            // Koordinatlar geçerli mi kontrol edin
            if (!isNaN(lat) && !isNaN(lon)) {
                var marker = L.marker([lat, lon]).addTo(map)
                    .bindPopup(loc.Name);
            } else {
                console.warn('Geçersiz koordinat:', loc);
            }
        });
    } else {
        console.error('locationData geçersiz formatta:', locationData);
    }
</script>