
@{
    ViewData["Title"] = "PreviousDocuments";
}

@model List<Document>

<link href="css/custom_css/documentResult/document_result.css"/>

<div class="text-center">
    <h2 class="mb-3">Önceki Sorgularınız</h2>
</div>


<div class="row">
    @foreach (var item in Model)
    {
        @if (ViewBag.UserId == item.UserId)
        {
            <div class="col-md-3">
                <div class="card mb-4 opacity-hover" style="width: 18rem; cursor: pointer;" onclick="submitForm('@item.UserId', '@item.StoragePath')">
                    <img src="~/uploads/images/@item.StoragePath" class="card-img-top" width="100%" height="200px">
                    <div class="card-body">
                        <p class="card-text text-dark"><strong>Tarih:</strong> @item.CreatedDate.ToString()</p>
                    </div>
                </div>
            </div>
        }
    }
</div>

<style>
    .card-img-top {
        object-fit: cover;
    }
</style>

<script>
    function submitForm(userId, storagePath) {
        var form = document.createElement('form');
        form.setAttribute('method', 'POST');
        form.setAttribute('action', '/Plant/Query');

        var userIdInput = document.createElement('input');
        userIdInput.setAttribute('type', 'hidden');
        userIdInput.setAttribute('name', 'userId');
        userIdInput.setAttribute('value', userId);
        form.appendChild(userIdInput);

        var storagePathInput = document.createElement('input');
        storagePathInput.setAttribute('type', 'hidden');
        storagePathInput.setAttribute('name', 'storagePath');
        storagePathInput.setAttribute('value', storagePath);
        form.appendChild(storagePathInput);

        document.body.appendChild(form);
        form.submit();
    }
</script>


@* <div class="row">

    @foreach (var item in Model)
    {
        @if (ViewBag.UserId == item.UserId)
        {
            <div class="col-md-3">

                <form id="getDocumentResult" method="POST" asp-controller="Plant" asp-action="Query">
                    <div class="card mb-4 opacity-hover" style="width: 18rem; cursor: pointer;" onclick="submitForm()">
                        <img src="~/uploads/images/@item.StoragePath" class="card-img-top" width="100%" height="200px">

                        <input type="hidden" name="userId" value="@item.UserId">
                        <input type="hidden" name="storagePath" value="@item.StoragePath">

                        <div class="card-body" >
                            <p class="card-text text-dark"><strong>Tarih:</strong> @item.CreatedDate.ToString()</p>
                        </div>
                    </div>
                </form>


            </div>
        }
    }

</div>




<script>
    function submitForm() {
        document.getElementById('getDocumentResult').submit();
    }
</script>
 *@
