
@{
    ViewData["Title"] = "Query";
}

@* @model List<DocumentResultViewModel> *@
@model DocumentResult

<h1>Query</h1>


<div>
    <p>@Model.UserId </p>
    <p>@Model.CreatedDate </p>
    <p>@Model.BarkUrl </p>
    <p>@Model.Content </p>
    <p>@Model.DocumentExtension </p>
    <p>@Model.FruitUrl </p>
    <p>@Model.LeafUrl </p>
    <p>@Model.PlantChatGPTResponse </p>
    <p>@Model.PlantGlobalName </p>
    
    <img src="~/uploads/images/@Model.StoragePath" class="card-img-top" width="100%" height="200px">




</div>
